#katku{
    display: none;
}

#tietokone{
    text-align: center;
    width: 70%;
    height: 30%;
    position: absolute;
    top: 2%;
    left: 15%;
    background-color: #034518;
}

#pelaaja{
    text-align: center;
    width: 70%;
    height: 30%;
    position: absolute;
    bottom: 2%;
    left: 15%;    
    background-color: #034518;
}

body{
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.omakortti{
    height: 100%;
    width: auto;
    position: relative;
    top: 0%;
    margin-left: 2%;
}

#pelitilanne{
    width: 20%;
    height: 20%;
    position: absolute;
    top: 40%;
    left: 42%;
}

#tilanne{
    position: absolute;
    top: 35%;
}

#uudestaan{
    position: relative;
    top: 45%;
    display: none;
    width: 70%;
    height: 50%;
    font-size: 1.5em;
    background-color: #276139;
    border-style: dashed;
}